@charset "utf-8";
/* CSS Document */

p {
    color: green;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
    font-size: 16px;
    line-height: 18px;
    width: 600px;
    background-color: antiquewhite;
    padding: 20px;
}

.paragraf_2 { 
    color: darkcyan; 
    background-color: rgba(255, 255, 255, 0.5)
}

h1, h2 {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    color: cadetblue;
}

span { 
    color: rgb(255, 0, 255); 
}

.pozadina {
    background-image: url("slike/04.jpg");
}

.drugapozadina {
    background-color: darkgray;
}

a:link {
    color: black;
    background-color: white;
    padding: 5px;

}
